---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Update from "../components/Update.astro";

const updates = await getCollection("updates", ({ data }) => {
  return import.meta.env.PROD ? true : true;
});

const sortedUpdates = updates.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const title = "Updates";
const description = "Quick thoughts and updates";
---

<Layout title={title} description={description}>
  <main>
    <div class="space-y-8">
      {
        sortedUpdates.map((update) => (
          <Update date={update.data.date}>
            <div set:html={update.body} />
          </Update>
        ))
      }
    </div>
  </main>
</Layout>
